<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
    backupGlobals="true"
    cacheTokens="false"
    verbose="true">

    <filter>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>

    </filter>

    <logging>

        <log type="coverage-html" target="coverage" lowUpperBound="50" highLowerBound="80"/>

    </logging>

</phpunit>
